{% extends "base.html" %}
{% load static%}
{% block content %}
            <section class="slick-slideshow">   
                <div class="slick-custom">
                    <img src="{% static "images/slideshow/medium-shot-business-women-high-five.jpeg" %}" class="img-fluid" alt="">

                    <div class="slick-bottom">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-10">
                                    <h1 class="slick-title">Cool Fashion</h1>

                                    <p class="lead text-white mt-lg-3 mb-lg-5">Little fashion template comes with total 8 HTML pages provided by Tooplate website.</p>

                                    <a href="about.html" class="btn custom-btn">Learn more about us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slick-custom">
                    <img src="{% static "images/slideshow/team-meeting-renewable-energy-project.jpeg" %}" class="img-fluid" alt="">

                    <div class="slick-bottom">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-10">
                                    <h1 class="slick-title">New Design</h1>

                                    <p class="lead text-white mt-lg-3 mb-lg-5">Please share this Little Fashion template to your friends. Thank you for supporting us.</p>

                                    <a href="product.html" class="btn custom-btn">Explore products</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slick-custom">
                    <img src="images/slideshow/two-business-partners-working-together-office-computer.jpeg" class="img-fluid" alt="">

                    <div class="slick-bottom">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-10">
                                    <h1 class="slick-title">Talk to us</h1>

                                    <p class="lead text-white mt-lg-3 mb-lg-5">Tooplate is one of the best HTML CSS template websites for everyone.</p>

                                    <a href="contact.html" class="btn custom-btn">Work with us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

            <section class="featured-product section-padding">
                <div class="container">
                    <div class="row">
                        
                        <div class="col-12 text-center">
                            <h2 class="mb-5">Настільні ігри</h2>
                        </div>

                        {% for product in table_games %}
                        <div class="col-lg-4 col-12 mb-3">
                            <div class="product-thumb">
                                <a href="/product/{{product.id}}">
                                    <img src='{{ product.image.url }}' class="img-fluid product-image" width=416 heigth=416 alt="">
                                </a>
                                <div class="product-info d-flex">
                                    <div>
                                        <h5 class="product-title mb-0">
                                            <a href="/product/{{product.id}}" class="product-title-link">{{ product.title }}</a> 
                                        </h5>

                                        <p class="product-p">{{ product.price }}₴</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        
                        <div class="col-12 text-center">
                            <h2 class="mb-5">Конструктори</h2>
                        </div>

                        {% for product in constructors %}
                        <div class="col-lg-4 col-12 mb-3">
                            <div class="product-thumb">
                                <a href="/product/{{product.id}}">
                                    <img src='{{ product.image.url }}' class="img-fluid product-image" width=416 heigth=416 alt="">
                                </a>
                                <div class="product-info d-flex">
                                    <div>
                                        <h5 class="product-title mb-0">
                                            <a href="/product/{{product.id}}" class="product-title-link">{{ product.title }}</a>
                                        </h5>

                                        <p class="product-p">{{ product.price }}₴</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="col-12 text-center">
                            <a href="/catalog/" class="view-all">Дивитися всі товари</a>
                        </div>

                    </div>
                </div>
            </section>

        </main>
{% endblock content %}
